services:
  telegramm-1c:
    image: ghcr.io/apushkarevgpt1978-png/telegramm-1c:latest
    restart: always
    env_file:
      - .env
    ports:
      - "5000:5000"
    volumes:
      - ./data:/app/data
      - ./files:/app/files
